<!DOCTYPE html>
<html>
<head>
  <title>AutoSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>title-title</h1>
    <% if login? %>
      <%= link_to 'ログアウト', sessions_destroy_path, method: :delete %>
    <% else %>
      <%= link_to '新規登録', new_user_path %>
      <%= link_to 'ログイン', sessions_new_path %>
    <% end %>
  </header>


  <%= yield %>

</body>
</html>
